doctype html
html(lang='en')
	head
		title Example
		| &#x9;&#x9;
		meta(charset='utf-8')
		| &#x9;&#x9;
		meta(name='description')
		| &#x9;&#x9;
		link(rel='stylesheet', href='static/main.min.css')
	| &#x9;
	body
		div
			| Lorem ipsum 
			div
