doctype html
html(lang='pl')
	head
		// Metadata
		title Ile do dzwonka?
		link(rel='shortcut icon', type='image/x-icon', href='static/img/favicon.ico')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
		// Stylesheets
		link(rel='stylesheet', type='text/css', href='main.css')
	body
		// Wrapper element
		container
			nav
			wrapper
				bell
					countdown
					info
			footer

		// Scripts
		script(src='app.min.js')
